/* Styles for arm waving android in header. */
b {
  color:#A4C739;
}

.droid {
  position: absolute;
  bottom: 30px;
  right: 60px;
  height: 60px;
  width: 65px;
}

.droid .torso {
  position: absolute;
  background:  #A4C739;
  width: 65px;
  height: 60px;
  border-radius: 0px 0px 10px 10px;
}

.droid .head {
  position: absolute;
  top: -32px;
  background:  #A4C739;
  width: 65px;
  height: 30px;
  border-radius: 65px 65px 0% 0%;
}

.droid .head .eye {
  height: 6px;
  width: 6px;
  border-radius: 5px;
  background: #FFFFFF;
  position: absolute;
  top: 12px;
}

.droid .head .eye:nth-child(1) {
  left: 20px;
}

.droid .head .eye:nth-child(2) {
  right: 20px;
}

.droid .head .ear {
  height: 15px;
  width: 3px;
  border-radius: 15px;
  background: #A5C63B;
  position: absolute;
  top: -10px;
}

.droid .head .ear:nth-child(3) {
  left: 15px;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
}

.droid .head .ear:nth-child(4) {
  right: 15px;
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.droid .leg {
  position: absolute;
  bottom: -27px;
  background:  #A5C63B;
  width: 15px;
  height: 27px;
  border-radius: 0px 0px 30px 30px;
}

.droid .leg:nth-child(3) {
  left: 12px;
}

.droid .leg:nth-child(4) {
  right: 12px;
}

.droid .arm1,
.droid .arm2 {
  left:68px;
  top:-3px;
  width: 15px;
  height: 40px;
  background: #A5C63B;
  position: absolute;
  border-radius: 25px;
}

.droid .arm1 {
  left:-18px;
  -webkit-transform-origin: 54% 18%;
  -moz-transform-origin: 54% 18%;
  -o-transform-origin: 54% 18%;
  transform-origin: 54% 18%;
}

@-webkit-keyframes droid-wave {
  0% { -webkit-transform: rotate(0deg); }
  15% { -webkit-transform: rotate(110deg); }
  30% { -webkit-transform: rotate(135deg); }
  45% { -webkit-transform: rotate(110deg); }
  60% { -webkit-transform: rotate(135deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@-moz-keyframes droid-wave {
  0% { -moz-transform: rotate(0deg); }
  15% { -moz-transform: rotate(110deg); }
  30% { -moz-transform: rotate(135deg); }
  45% { -moz-transform: rotate(110deg); }
  60% { -moz-transform: rotate(135deg); }
  100% { -moz-transform: rotate(0deg); }
}

@-o-keyframes droid-wave {
  0% { -o-transform: rotate(0deg); }
  15% { -o-transform: rotate(110deg); }
  30% { -o-transform: rotate(135deg); }
  45% { -o-transform: rotate(110deg); }
  60% { -o-transform: rotate(135deg); }
  100% { o-transform: rotate(0deg); }
}

@keyframes droid-wave {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(110deg); }
  30% { transform: rotate(135deg); }
  45% { transform: rotate(110deg); }
  60% { transform: rotate(135deg); }
  100% { transform: rotate(0deg); }
}

.droid:hover .arm1  {
  -webkit-animation-name: droid-wave;
  -moz-animation-name: droid-wave;
  -o-animation-name: droid-wave;
  animation-name: droid-wave;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
